.contact {
    padding: 4rem 0;
}

.contact__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.contact__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-sub);
    padding: 2rem;
    border-radius: 8px;
}

.contact__card svg {
    font-size: 1.8rem;
    margin: 0 8px;
    transition: transform 0.3s ease-in-out;
}

.contact__card svg:hover {
    transform: scale(1.3);
}

/*Responsive for mobile: <= 767px */
@media (max-width: 767px) {
    .contact__title {
        font-size: 1.5rem;
        font-weight: 700;
    }
}